:root {
  --text-white: #ffffff;
  --text-blue: #2196f3;
  --text-black: #212121;
  --text-grey: #757575;
  --text-grey-opac: rgba(255, 255, 255, 0.6);
  --text-copyright: rgba(255, 255, 255, 0.4);
  --text-button-portfolio: #f5f4fa;
  --border: #afb1b8;
  --line: rgba(0, 0, 0, 0.5);
  --foot-bg: #2f303a;
  --foot-line: rgba(255, 255, 255, 0.1);
  --header-border: #ececec;
  --border-card: #eeeeee;
}

body {
  background-color: lightgray;
  color: var(--text-grey);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
}
.logo-web {
  color: var(--text-blue);
}
.logo-studio {
  color: var(--text-black);
}
/* Main NAV */

.main-nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--header-border);
}
.site-nav {
  display: flex;
  margin-left: 85px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-blue);
}

.site-nav .link.current {
  color: var(--text-blue);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .nav-contact {
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav .item + .item {
  margin-left: 30px;
}
.cont-nav {
  display: flex;
}
.cont-nav .item + .item {
  margin-left: 30px;
}
/* Navigation contacts */

.nav-contact {
  color: var(--text-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-icon {
  display: inline-block;
  margin-right: 10px;
}

.nav-contact:hover,
.nav-contact:focus {
  color: var(--text-blue);
}

.flex-contact {
  display: flex;
  margin-left: 360px;
}

.flex-contact .item + .item {
  margin-left: 50px;
}

/* Main */
.hero {
  color: var(--text-white);
  text-align: center;
  letter-spacing: 0.06em;
  padding-bottom: 200px;
}
.hero-title {
  padding-top: 200px;
  padding-bottom: 46px;
  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  margin: 0px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--text-white);
  background-color: var(--text-blue);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;

  /* /* display: flex;
  align-items: center; */
}
.button:hover,
.button:focus {
  background-color: var(--text-white);
  color: var(--text-blue);
  border: 1px solid var(--text-blue);
}
.button-log {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--text-blue);
  background-color: var(--text-white);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;

  /* /* display: flex;
  align-items: center; */
}
.button-log:hover,
.button-log:focus {
  background-color: var(--text-blue);
  color: var(--text-white);
  border: 1px solid var(--text-white);
}

/* Section Company */
.we {
  border-bottom: 1px solid var(--header-border);
}

.section-title {
  text-align: center;
  display: none;
}
.work-list {
  display: flex;
  align-items: center;
}

.work-list p {
  margin: 0px;
}

.work-list .item {
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-list .item + .item {
  padding-left: 30px;
}

.work-list .img {
  min-width: 270px;
  background-color: var(--text-button-portfolio);
  padding: 25px 100px;
  border-radius: 4px;
  margin-bottom: 30px;
}
.section-list {
  color: var(--text-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 10px;
}
.section-p {
  font-size: 14px;
  line-height: 1.71;
}
.section-two {
  padding-bottom: 94px;
}

.item .icon-links + .icon-links {
  margin-left: 30px;
}

.img:hover,
.img:focus {
  background-color: var(--text-blue);
}
.color {
  background-color: var(--text-button-portfolio);
}
/* Чем мы занимаемся */
.spisok-onas {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.spisok-onas .list-app + .list-app {
  margin-left: 30px;
}

.menu-product {
  color: var(--text-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin: 0px;
}
.section-list-three {
  color: var(--text-black);
}

/* people */
.we-section {
  padding-bottom: 94px;
}
.people {
  display: flex;
  justify-content: center;
}

.social-icon {
  display: flex;
  justify-content: space-evenly;
}
/* .people .item {
    margin-left: 0px;
}
.people .item + .item {
  margin-left: 30px;
} */

/* .item {
  text-align: center;
} */

.people .item {
  background-color: var(--text-white);
  border: 1px solid #eeeeee;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 36px;
}
.people .item + .item {
  margin-left: 34px;
}
.menu-people {
  color: var(--text-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px;
  padding-bottom: 10px;
}

.people-work {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin: 0px;
  padding-bottom: 28px;
}

.img-comand {
  padding-bottom: 30px;
}
.about {
  color: var(--text-black);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  padding-top: 94px;
  /* padding-bottom: 50px; */
  margin-bottom: 0px;
  margin-top: 0px;
  padding-bottom: 50px;
}

.card-content {
  padding: 20px 24px;
  border: 1px solid var(--border-card);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top: transparent;
}

.list-logo {
  display: flex;
  justify-content: space-between;
}
.item-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 175px;
  height: 90px;
  border: 1px solid var(--border);
  border-radius: 4px;
  text-align: center;
  vertical-align: auto;
  margin-bottom: 94px;

  /* /* border: 1px solid ; */
}

.item-company:hover,
.item-company:focus {
  border: 1px solid var(--text-blue);
}
.list-logo .item-company + .item-company {
  margin-left: 30px;
}

/* Футер */

.logo-f {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
}

.foot-nav-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 28px;
}
.foot-nav-flex .foot-section + .foot-section {
  margin-left: 20px;
}

.foot-buttons {
  margin-left: 70px;
}
.foot-buttons .button {
  margin-bottom: 16px;
}
/* foot-section .foot-buttons + .foot-buttons {
  margin-bottom: 20px;
} */
.block-list {
  display: block;
}
.footlogo-studio {
  color: var(--text-white);
}

.foot-logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: none;
  margin: 0px;
  padding-bottom: 10px;
}
.foot-city {
  color: var(--text-white);
  font-size: 14px;
  line-height: 1.71;
  margin: 0px;
}
.foot-contact {
  color: var(--text-grey-opac);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin: 0px;
}

.foot-contact:hover,
.foot-contact:focus {
  color: var(--text-blue);
}

.foot-padding {
  padding-bottom: 9px;
}
.foot-padding:last-child {
  padding-bottom: 0px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--foot-line);
  border-radius: 50%;
  margin-right: 10px;
}

.circle:last-child {
  margin-right: 0px;
}

.foot-title {
  color: var(--text-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  margin: 0px;
  padding-bottom: 21px;
}

/* 
.foot-title {
  color: var(--text-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
} */

.button-reg {
  color: var(--text-white);
  background-color: var(--text-blue);
}
.button-login {
  color: var(--text-blue);
  background-color: var(--text-white);
}

.foot-auth .link {
  color: var(--text-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.foot-auth .link:hover,
.foot-auth .link:focus {
  color: var(--text-blue);
}
.test {
  display: flex;
  justify-content: space-between;
}

.copyrigth-border {
  color: var(--text-copyright);
  font-size: 12px;
  text-align: center;
  border-top: 1px solid var(--foot-line);
}
.copyrigth-border p {
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  text-align: right;
  margin-left: 700px;
}
.social > .label {
  color: var(--text-copyright);
  font-size: 15px;
  line-height: 1.6;
}
.foot-item {
  display: flex;
  justify-content: center;
}

.foot-item .item {
  padding: 12px;
  background-color: var(--foot-line);
  border-radius: 50px;
  margin: 0px;
}

.foot-item .item + .item {
  margin-left: 10px;
}

/* .foot-item .item:last-child {
  padding-right: 0px;
}

.foot-item .item + .item {
  margin-left: 20px;
} */

.carusel-p {
  color: var(--text-grey);
}

/* Portfolio */
.filter-nav {
  color: var(--text-black);
  background-color: var(--text-button-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filter-nav:hover,
.filter-nav:focus {
  background-color: var(--text-blue);
  color: var(--text-white);
}
.filter-title {
  color: var(--text-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-work {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 20px;
  /* margin-left: 24px; */
}
.filter-about {
  color: var(--text-white);
  font-size: 18px;
  line-height: 1.56;
}
.link {
  text-decoration: none;
}
.line {
  border: 1px solid var(--foot-line);
  margin-top: 60px;
  margin-bottom: 32px;
}
footer {
  background-color: var(--foot-bg);
}

/* Portfolio */
.portfolio-buttons {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-buttons .flex-element + .flex-element {
  margin-left: 8px;
}

.flex-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;
}

.flex-window-picture {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}
.flex-window-picture:nth-child(3n) {
  margin-right: 0px;
}

.flex-window-picture:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
/* .foot-icon-links {
  margin-left: 20px;
} */

.img-links {
  margin-left: auto;
  margin-right: auto;
}
