:root {
  --text-white: #ffffff;
  --text-blue: #2196f3;
  --text-black: #212121;
  --text-grey: #757575;
  --text-grey-opac: rgba(255, 255, 255, 0.6);
  --text-copyright: rgba(255, 255, 255, 0.4);
  --text-button-portfolio: #f5f4fa;
  --border: #afb1b8;
  --line: rgba(0, 0, 0, 0.5);
  --foot-bg: #2F303A;
  --foot-line: rgba(255, 255, 255, 0.1);
}

body {
  color: var(--text-grey);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1280px;
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  display: inline-block;
}
.logo-web {
  color: var(--text-blue);
}
.logo-studio {
  color: var(--text-black);
}
/* Main NAV */

.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 86px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--text-blue);
}

.site-nav .link.current {
  color: var(--text-blue);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .nav-contact {
  padding-top: 32px;
  padding-bottom: 32px;
}
.auth-nav .item + .item {
  margin-left: 30px;
}
.cont-nav {
  display: flex;
}
.cont-nav .item + .item {
  margin-left: 30px;
}
/* Navigation contacts */

.nav-contact {
  color: var(--text-grey);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-icon {
  margin-right: 10px;
}

.nav-contact:hover,
.nav-contact:focus {
  color: var(--text-blue);
}

.flex-contact {
  display: flex;
  margin-left: 360px;
}

.flex-contact .item + .item {
  margin-left: 50px;
}

/* Main */
.hero {
  color: var(--text-white);
  text-align: center;
  letter-spacing: 0.06em;
}
.hero-title {
  margin-top: 200px;
  margin-bottom: 46px;
  color: var(--text-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--text-white);
  background-color: var(--text-blue);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
  margin-bottom: 200px;

  /* /* display: flex;
  align-items: center; */
}
.button:hover,
.button:focus {
  background-color: var(--text-white);
  color: var(--text-blue);
  border: 1px solid var(--text-blue);
}
.button-log {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 1px solid transparent;
  color: var(--text-blue);
  background-color: var(--text-white);
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;

  /* /* display: flex;
  align-items: center; */
}
.button-log:hover,
.button-log:focus {
  background-color: var(--text-blue);
  color: var(--text-white);
  border: 1px solid var(--text-white);
}

/* Section Company */
.section-title {
  text-align: center;
  display: none;
}
.work-list {
  display: flex;
  align-items: center;
}

.work-list p {
  margin-top: 0px;
  margin-bottom: 30px;
}

.work-list .item {
  margin-top: 94px;
}
.section-list {
  color: var(--text-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.section-p {
  font-size: 14px;
  line-height: 1.71;
}

.item .icon-links + .icon-links {
  margin-left: 30px;
}
.img-links {
  margin-bottom: 36px;
}
.img:hover,
.img:focus {
  background-color: var(--text-blue);
}
.color {
  background-color: var(--text-button-portfolio);
}
/* Чем мы занимаемся */
.spisok-onas {
  display: flex;
  justify-content: center;
}

.spisok-onas .list-app + .list-app {
  margin-left: 30px;
}

.menu-product {
  color: var(--text-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  margin-top: 27px;
  margin-bottom: 27px;
}
.section-list-three {
  color: var(--text-black);
}

/* people */
.people {
  display: flex;
  justify-content: center;
  
  
}
/* .people .item {
    margin-left: 0px;
}
.people .item + .item {
  margin-left: 30px;
} */
.item {
  text-align: center;
}


.people .item {
  background-color: var(--text-white);
  margin-bottom: 94px;
    border: 1px solid #EEEEEE;
  border-radius: 5px;
}
.people .item + .item {
    margin-left: 34px;
}
  .menu-people {
    color: var(--text-black);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }

  .people-work {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  .about {
    color: var(--text-black);
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    padding-top: 94px;
    margin-bottom: 50px;
  }



  .list-logo {
    display: flex;
    justify-content: space-between;
  }
  .item-company {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 90px;
    border: 1px solid var(--border);
    border-radius: 4px;
    text-align: center;
    vertical-align: auto;
    margin-bottom: 94px;

    /* /* border: 1px solid ; */
  }

  .item-company:hover,
  .item-company:focus {
    border: 1px solid var(--text-blue);
  }
  .list-logo .item-company + .item-company {
    margin-left: 30px;
  }

  /* Футер */

  .logo-f {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    display: inline-block;
  }

  .foot-nav-flex {
    display: flex;
    justify-content: center;
    padding-top: 56px;
  }
  .foot-nav-flex .foot-section + .foot-section {
    margin-left: 20px;
  }

  .foot-buttons {
    margin-left: 70px;
  }
  .foot-buttons .button {
    margin-bottom: 16px;
  }
  /* foot-section .foot-buttons + .foot-buttons {
  margin-bottom: 20px;
} */
  .block-list {
    display: block;
  }
  .footlogo-studio {
    color: var(--text-white);
  }

  .foot-logo {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.18;
    text-decoration: none;
    margin-right: 520px;
  }
  .foot-city {
    color: var(--text-white);
    font-size: 14px;
    line-height: 1.71;
  }
  .foot-contact {
    color: var(--text-grey-opac);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
  }

  .foot-contact:hover,
  .foot-contact:focus {
    color: var(--text-blue);
  }

  .foot-title {
    color: var(--text-white);
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
    margin: 0px;
  }

  /* 
.foot-title {
  color: var(--text-white);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
} */

  .button-reg {
    color: var(--text-white);
    background-color: var(--text-blue);
  }
  .button-login {
    color: var(--text-blue);
    background-color: var(--text-white);
  }

  .foot-auth .link {
    color: var(--text-grey);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .foot-auth .link:hover,
  .foot-auth .link:focus {
    color: var(--text-blue);
  }
  .test {
    display: flex;
    justify-content: space-between;
  }

  .copyright {
    color: var(--text-copyright);
    font-size: 12px;
    text-align: left;
  }
  .social {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .label {
    text-align: right;
    margin-left: 700px;
  }
  .social > .label {
    color: var(--text-copyright);
    font-size: 15px;
    line-height: 1.6;
  }
  .foot-item {
    display: flex;
    margin-left: 20px;
  }
  /* .foot-item .item + .item {
  margin-left: 20px; */
}

.carusel-p {
  color: var(--text-grey);
}

/* Portfolio */
.filter-nav {
  color: var(--text-black);
  background-color: var(--text-button-portfolio);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.filter-nav:hover,
.filter-nav:focus {
  background-color: var(--text-blue);
  color: var(--text-white);
}
.filter-title {
  color: var(--text-black);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-left: 24px;
}

.filter-work {
  color: var(--text-grey);
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 20px;
    margin-left: 24px;
}
.filter-about {
  color: var(--text-white);
  font-size: 18px;
  line-height: 1.56;
}
.link {
  text-decoration: none;
}
.line {
  border: 1px solid var(--foot-line);
  margin-top: 60px;
  margin-bottom: 32px;
}
.foot-bg {
  background-color: var(--foot-bg);




}
/* Portfolio */
.portfolio-buttons {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  padding-bottom: 50px;
}

.portfolio-buttons .flex-element + .flex-element {
  margin-left: 30px;
}

.flex-picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 94px;

}

.flex-window-picture {
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
}
.flex-window-picture:nth-child(3n) {
  margin-right: 0px;
}

.flex-window-picture:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.foot-icon-links {
  margin-left: 20px;
}
/* .item .icon-links + .icon-links {
  margin-left: 30px;
}
.img-links {
  margin-bottom: 36px;
} */
